{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<main>
    <article class="my-5">

        <h3>Qui sommes-nous ?</h3>
        <p>
            Depuis notre fondation, nous sommes passionnés par les polaroids et leur capacité à capturer les moments les plus précieux de la vie. Nous croyons que les polaroids sont plus que des appareils photo - ce sont des outils pour saisir les souvenirs qui dureront toute une vie.
        </p>


        <h3>Notre objectif</h3>
        <p>
            Notre objectif est de fournir une expérience de shopping en ligne exceptionnelle pour les amateurs de polaroids du monde entier. Nous offrons une large sélection d'appareils photo polaroids de haute qualité et d'accessoires pour aider les clients à capturer les moments les plus précieux de leur vie.
        </p>


        <h3>Notre équipe</h3>
        <p>Notre équipe est composée de passionnés de la photo qui comprennent l'importance de chaque instant capturé. Nous sommes fiers de notre engagement en faveur de la qualité et de la satisfaction de nos clients.</p>

        <h3>De la confiance !</h3>
        <p>
            En choisissant de faire vos achats chez nous, vous bénéficierez de notre engagement en faveur de la qualité, de la satisfaction de nos clients et de notre passion pour les polaroids. Nous espérons que vous apprécierez votre expérience sur notre site et que vous trouverez l'appareil et les accessoires dont vous avez besoin pour capturer les moments les plus précieux de votre vie."
        </p>


    </article>
</main>
{% endblock %}
